/* style.css */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    transition: .5s; /* Corrected from .5ms to .5s */
    z-index: 1000;
}

header.scrolled {
    background: rgba(0, 0, 0, .6);
    border-bottom: 2px solid var(--primary);
    border-image: linear-gradient(90deg, transparent, var(--primary), transparent) 1;
    backdrop-filter: blur(20px);
    padding: 10px 100px;
}

.logo a {
    font-family: 'Racing sans one', cursive;
    font-size: 35px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;
}
