.container {
    max-width: 1140px;
    margin: 0 auto;
    width:100%;
}
.container-full {
    max-width: 1600px;
    padding: 0 15px;
    margin:0 auto;
}
.d-flex {
  display:flex;
 }
.align-center {
    align-items: center;
}
.justify-center {
  justify-content: center;
}
.space-between {
    justify-content: space-between;
}
.row {
    display:flex;
    flex-wrap: wrap;
}
input {
    font-family: Vazirmatn;
}
