
.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 100px;
  overflow: hidden;
  transition: 0.5s;
  background-image: var(--banner-background);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.5s ease-in-out; 
}

  .banner::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  .banner .banner-content {
    height: 100vh;
    min-height: 700px;
    padding-top:200px;
  }
  .banner .movie {
    padding: 0 100px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding-bottom: 100px;
  }
  
  .bgImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: center;
    font-size: 8rem;
    visibility: visible;
    opacity: 1;
    transition: 1s;
  }
  
  /* .bgImg.active {
    visibility: visible;
    opacity: 1;
  } */
  
  @media (max-width: 768px) {
    .banner,
    .banner .movie {
      padding: 40px 30px 200px;
    }
  }
  